body{
    font-family: Optima, sans-serif;
    color: rgb(17, 17, 17);
    margin: 0 auto;
    position: relative;
}
.container{
    width: 100%;
    margin: 0 auto;
}
/*--------------------header----------------------*/
.header{
    background: black;
    position: fixed;
    width: 100%;
    z-index: 10000;
    margin: 0 auto;
    height: 3%;
    padding: 0.7rem 0; 
    text-align: center;
    -webkit-box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
}
     .header a{
       color: rgb(175, 175, 175);
       text-decoration: none ;
       font-size: 16px ;
    }
		header.major p {
			margin: 0.1em 0 0 0;
		}
.menu-icon{
    display: none;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
     .navigation ul li{
        display: inline-block;
     }
        .navigation ul li a{
          padding: 5px;
          transition: all 0.5s linear;
          display: block;
        }
           .navigation li a:hover{
            color: rgb(56, 124, 250);
           }
           .navigation ul li a.active{
               border-bottom: 2px solid rgb(56, 124, 250);
               border-radius: 1px;
               transition: 0.9s ease;
           }
@media (max-width: 900px ) {
      .menu-icon{
          display: block;
          cursor: pointer;
          padding: 0.3rem 1rem ;
      }
      .logo{
        letter-spacing: 3px;
        font-size: 1em;
        padding: 0rem 2rem ;
    }
       .navigation{
           width: 100%;
           margin-top: 0rem;
           background-color: white;
           text-align: center;
       }
      .navigation ul {
         display: none;
      }
         .navigation ul.show {
            display: block;
         }
              .navigation ul li{
                 display: block;
              }
                 .navigation ul li a{
                   display: block;
                   padding: 0.3rem ;
                   transition: all 0.5s linear;
                   border-radius: 5px;
                 }
    }
@media (max-width: 500px ) {
        .menu-icon{
            display: block;
            cursor: pointer;
            padding: 0.1rem 3rem ;
        }
}
 /*--------------------sobremi----------------------*/
.gridsobremi {
    display: grid;
    grid-template-columns:25% 25%;
    grid-auto-rows: minmax(10px, 300px);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 70px 1px 9px 1px;
    -webkit-box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
}
     .gridsobremi img{
        clip-path: circle(48% at 48% 50%);
    }
    .gridsobremi h2{
        font-size: 20px;
        text-align: center;
        color: rgb(175, 175, 175);
    }
    /*--------------------gridPrevio----------------------*/    
    .fondoSomos{
        background: url(img/img10.gif) no-repeat center center fixed;
        background-size: 100% !important;
        height: 400px;
        overflow: hidden;
        clip-path: circle(50% at 50% 0);
        -webkit-box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
        box-shadow: 0px 26px 39px -16px rgba(0,0,0,0.75);
      }

    .nosotros {
        display: grid;
        grid-template-columns: 50%;
        grid-auto-rows: minmax(10px, 100px);
        justify-content: center;
        align-items: center;
        color: black;
    }
        .nosotros hr{   
            width: 50px;
            border: 0.5px solid blue;
            margin: 5px auto;
        }
         .nosotros h2{   
             font-size: 20px  ;
             text-align: center;
             color: white;
         }
         .nosotros p{
            font-size: 13px  ;
            line-height: 1.5;
             text-align: center;
             color: white;
         }
         .nosotros a{
            color: rgb(255, 255, 255);
            background: rgba(10, 82, 238, 0.561);
            width: 220px;
            font-size: 17px ;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
        }

/*--------------------gridconocimiento----------------------*/  
.gridconocimientoExp {
    display: grid;
    grid-template-columns: 50%;
    grid-auto-rows: minmax(10px, 120px);
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(219, 219, 219);
}
.gridconocimientoExp hr{   
    width: 50px;
    border: 0.5px solid blue;
    margin: 5px auto;
}
 .gridconocimiento {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12%;
    grid-auto-rows: minmax(10px, 140px);
    justify-content: center;
    text-align: center;
    background: rgb(219, 219, 219);
   }
        .gridconocimiento img{
            width: 85px;
            height: 100px;
            padding-top: 10px;
        }
/*--------------------grid 1----------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 400px 400px ;
    grid-template-rows: 150px ;
    justify-content: center;
    align-items: center;
}
    .item1{
        grid-column: 1 / span 2;
    }
    .grid-container h2{   
        font-size: 20px;
        line-height: 0.3;
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .grid-container h4{   
        font-size: 18px;
        line-height: 0.3;
        text-align: center;
        align-items: center;
    }
    .grid-container hr{   
        width: 100px;
        border: 0.5px solid blue;
    }
    .grid-container p{
        font-size: 12px;
        line-height: 1.5;
        margin: 20px 30px;
        color: grey;
        text-align: center;
    }
    .grid-container .btn{
        color: rgb(255, 255, 255);
        background: rgb(56, 124, 250);
        width: 90px;
        font-size: 10px;
        text-decoration: none;
        border-radius: 7px;
        margin: 0 auto;
        display: block;
        padding: 5px;
        align-items: center;
        text-align: center;
    }

 /*--------------------contacto----------------------*/
 .fondo{
    background: url(img/img1.jpg) no-repeat center center fixed;
    background-size: 100% !important;
    height: 500px;
    overflow: hidden;
    clip-path: circle(60% at 50% 100%);
  }
    .grid-container-contact  {
        display: grid;
        grid-template-columns: 30% 30% ;
        grid-gap: 10px;
        grid-auto-rows: minmax(10px, 500px);
        justify-content: center;
        padding: 9px 1px 1px 1px;
        color: white;
    }
            .grid-container-contact  h4{   
                font-size: 85% ;
                line-height: 0.3;
                text-align: center;
            }
            .grid-container-contact  hr{   
                width: 150px;
                border: 0.5px solid blue;
            }
            
            .grid-container-contact  p{
                font-size: 70% ;
                line-height: 1.5;
                text-align: center;
                margin: 20px 50px;
            }
            .grid-container-contact iframe{
                position:absolute;
                height: 500px;
                width: 600px;
                border: 0;
                }
    input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    textarea {
        width: 100%;
        height: 150px;
        margin: 8px 0;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        resize: none;
      }
      .grid-container-contact button{
            color: rgb(255, 255, 255);
            background: rgb(56, 124, 250);
            width: 500px;
            height: 28px;
            font-size: 70% ;
            text-decoration: none;
            border-radius: 6px;
            margin: 0 auto;
            display: block;
    }
    #trucazo{
        opacity: 0;
    }
    .grid-container-contact  h2{   
        font-size: 85% ;
        line-height: 0.3;
        text-align: center;
        padding-top: 100px;
    }
    .grid-container-contact  i{
        font-size: 40px;
        padding-top: 10px;
        margin: 10px auto;
        color: rgb(41, 149, 250);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

 /*--------------------whatsapp----------------------*/
 .btn-wsp{
     position:fixed;
     width:60px;
     height:60px;
     line-height: 63px;
     bottom:25px;
     left:25px;
     background:#25d366;
     color:#FFF;
     border-radius:50px;
     text-align:center;
     font-size:40px;
     box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
     z-index:100;
     transition: all 300ms ease;
 }
 .btn-wsp:hover{
     background: #20ba5a;
 }
 @media only screen and (min-width:320px) and (max-width:768px){
     .btn-wsp{
                width:53px;
                height:53px;
                line-height: 55px;
            }
        }        
    /*--------------------footer----------------------*/
footer{
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
    footer p{
       color: gray; 
       text-align: center;
       font-size: 9px;
       margin: 0 auto;
    }