body{
    font-family: Optima, sans-serif;
    color: rgb(17, 17, 17);
    line-height: 1.7em;
    margin: 0 auto;
    position: relative;
    padding-bottom: 0.5em;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
h2{
    font-size: 18px;
}
/*--------------------header----------------------*/
.header{
    background: url(img/bg.jpg);
    flex-direction: column;
    z-index: 10000;
    top: 0;
    width:23%;
    padding: 10em 1em;
    position: fixed;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 9px -1px 23px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 9px -1px 23px 0px rgba(0,0,0,0.7);
    box-shadow: 9px -1px 23px 0px rgba(0,0,0,0.7);
}
.header img{
    clip-path: circle(48% at 50% 50%);
    display:block;
    margin:auto;
}
.header h2{
    text-align:center;
    padding: 5px;
    line-height: 1.3;
}
.icons {
    justify-content: center;
	align-items: center;
    text-align: center;
}
  .icons hr{
    margin: 3px auto;
    width: 55%;
  }
  .icons a {
    transition: all 0.3s ease;
    padding: 5px;
    font-size: 30px;
    color: white;
    line-height: 50px;
  }
@media screen and (max-width: 1200px ) {
    .header{
        padding: 1px;
        width: 100%;
        height:200px;
        align-items: center;
        text-align: center;
        display: flex;
    }
    .header img{
        width:35%;
        float: left;
        margin-top: 8px;
    }
    .header h2{
        font-size: 11px;
        padding-top: 35px;
    }
    .icons hr{
        margin: 8px auto;
    }
    .icons a {
        transition: all 0.3s ease;
        padding: 5px;
        font-size: 20px;
        color: white;
        line-height: 10px;
    }
   }
@media screen and (max-width: 500px ) {
        .header{
            height:210px;
        }
    }
    /*--------------------gridPrevio----------------------*/
    .fondoSomos{
        background: url(img/img1.jpg) ;
        background-size: 100% !important;
        height: 350px;
        width: 78.3%;
        float: right;
        top: 0;
      }
    .nosotros {
        display: grid;
        grid-template-columns: 50%;
        grid-auto-rows: minmax(10px, 110px);
        justify-content: center;
        align-items: center;
        color: black;
        padding-top: 25px;
    }
        .nosotros hr{   
            width: 50px;
            border: 0.5px solid blue;
            margin: 5px auto;
        }
         .nosotros h2{   
             font-size: 20px;
             text-align: center;
             color: white;
         }
         .nosotros p{
            font-size: 13px  ;
            line-height: 1.5;
             text-align: center;
             color: white;
         }
         .nosotros a{
            color: rgb(255, 255, 255);
            background: rgba(10, 82, 238, 0.561);
            width: 30%;
            font-size: 17px ;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
        }
@media screen and (max-width: 1200px ) {
    .fondoSomos{
        margin-top: 150px;
        height: 330px;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .nosotros {
        grid-auto-rows: minmax(10px, 130px);
    }
      .nosotros h2{   
        font-size: 16px;
      }
      .nosotros p{
        font-size: 11px;
        line-height: 1.3;
     }
     .nosotros a{
        width: 50%;
        font-size: 15px;
    }
}
@media screen and (max-width: 500px ) {
    .fondoSomos{
        height: 335px;
        justify-content: center;
      }
      .nosotros {
        grid-template-columns: 75%;
    }
      .nosotros h2{   
        font-size: 14px;
      }
      .nosotros hr{   
        width: 40px;
    }
      .nosotros p{
        font-size: 11px;
        line-height: 1.3;
     }
     .nosotros a{
        width: 50%;
        font-size: 15px;
    }
}
/*--------------------gridconocimiento----------------------*/ 
.gridconocimientoExp {
    display: grid;
    grid-template-columns: 50%;
    grid-auto-rows: minmax(10px, 80px);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 78.3%;
    float: right;
}
.gridconocimientoExp hr{   
    width: 50px;
    border: 0.5px solid blue;
    margin: 5px auto;
}
 .gridconocimiento {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12%;
    grid-auto-rows: minmax(10px, 110px);
    justify-content: center;
    text-align: center;
    width: 78.3%;
    float: right;
   } 
   @media screen and (max-width: 1200px ) {
    .gridconocimientoExp {
        width: 100%;
    }
     .gridconocimientoExp h2{   
        font-size: 15px;
     }
    .gridconocimiento {
        grid-auto-rows: minmax(10px, 60px);
        width:100%;
       } 
       .gridconocimiento img{
        width: 40px;
        height: 40px;
       } 
   }  
   @media screen and (max-width: 500px ) {
    .gridconocimientoExp {
        grid-auto-rows: minmax(10px, 70px);
    }
    .gridconocimientoExp h2{   
        font-size: 13px;
    }
    .gridconocimiento {
        grid-auto-rows: minmax(10px, 60px);
       } 
    .gridconocimiento img{
        width: 35px;
        height: 35px;
    } 
   }   
/*--------------------grid 1----------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 450px 450px ;
    grid-template-rows: 170px ;
    justify-content: center;
    align-items: center;
    width: 78.3%;
    float: right;
}
    .item1{
        grid-column: 1 / span 2;
    }
    .grid-container h2{   
        font-size: 20px;
        line-height: 0.4;
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .grid-container h4{   
        font-size: 18px;
        line-height: 0.4;
        text-align: center;
        align-items: center;
    }
    .grid-container hr{   
        width: 100px;
        border: 0.5px solid blue;
    }
    .grid-container p{
        font-size: 12px;
        line-height: 1.7;
        margin: 20px 30px;
        color: grey;
        text-align: center;
    }
    .grid-container .btn{
        color: rgb(255, 255, 255);
        background: rgb(56, 124, 250);
        width: 90px;
        font-size: 10px;
        text-decoration: none;
        border-radius: 7px;
        margin: 0 auto;
        display: block;
        padding: 5px;
        align-items: center;
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    @media all and (max-width: 1200px ) {
        .grid-container {
            width: 100%;
            display: grid;
            grid-template-columns: 150px ;
            grid-template-rows: 100px  ;
        }
        .itemmin,.itemmin1,.itemmin2,.itemmin3{
            grid-column: 1/ span 2;
        }
        .grid-container h2{   
            font-size: 15px;
            padding: 5px;
        }
        .grid-container hr{   
            width: 50px;
        }
        .grid-container h4{   
            font-size: 13px;
            margin: 10px;
        }
        .grid-container p{
            font-size: 11px;
            line-height: 2;
        }

    }
    @media all and (max-width: 500px ) {
        .grid-container h2{   
            font-size: 13px;
        }
        .grid-container h4{   
            font-size: 12px;
        }
        .grid-container p{
            font-size: 9px;
        }
        .grid-container .btn{
            width: 50px;
            font-size: 9px;
        }
    }
 /*--------------------contacto----------------------*/
 .fondo{
    background: url(img/img10.gif);
    background-size: 100% !important;
    height: 550px;
    width: 78.3%;
    float: right;
  }
  .email {
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .email h4{
     color: white;
     text-align: center;
    }
    .email hr{
        width: 220px;
       }
    .email p{
     color: white;
     text-align: center;
    }
    input{
        width: 50%;
        padding: 10px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
    }
    textarea {
        width: 50%;
        height: 150px;
        margin: 8px 0;
        padding: 10px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        resize: none;
        text-align: center;
      }
    button{
            color: rgb(255, 255, 255);
            background: rgb(56, 124, 250);
            width: 50%;
            height: 28px;
            font-size: 70% ;
            text-decoration: none;
            border-radius: 6px;
            margin: 0 auto;
            display: block;
    }
    #trucazo{
        opacity: 0;
    }
    @media all and (max-width: 1200px ) {
        .fondo{
            width: 100%;
            height: 420px;
        }
            .email h4{
             font-size: 13px;
            }
            .email hr{
                width: 100px;
               }
            .email p{
             font-size: 11px;
            }
            input{
                width: 50%;
                padding: 5px 10px;
                margin: 6px 0;
            }
            textarea {
                height: 100px;
              }
    }
    @media all and (max-width: 500px ) {
        .fondo{
            height: 330px;
        }
            .email h4{
             font-size: 12px;
            }
            .email hr{
                width: 80px;
               }
            .email p{
             font-size: 9px;
            }
            input{
                width: 50%;
                padding: 3px 10px;
                margin: 6px 0;
            }
            textarea {
                height: 50px;
              }
    }
 /*--------------------whatsapp----------------------*/
 .btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
 }
 .btn-wsp:hover{
     background: #20ba5a;
 }
 @media only screen and (min-width:320px) and (max-width:768px){
     .btn-wsp{
                width:53px;
                height:53px;
                line-height: 55px;
            }
        }        